


body{
  background-color: #52DFFF;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}


h1{
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 50px;
}


hr{
  background-color: #00D7FF;
  height: 2px;
}

div{
  border-width: 12em;
  background-color: #00B9FF;
  border-radius: 10px;
  animation-duration: 0.6s;
  animation-name: roundedege;
}



.devartists{
  width: 190px;
  margin-right: 10px;
  Display: Inline-block;
  position: relative;
  right: 100px;
  bottom: 45px;
}

.app{
  
  Display: Inline-block;
  width: 190px;
  position: relative;
  bottom: 5px;
  right: 100px;
}

p{
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}

button{
  font-size: 12px;
  font-family: "Pixelify Sans", sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background: #4F8FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
}





button:focus {
  font-size: 12px;
  font-family: "Pixelify Sans", sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background: #104BB2;
  cursor: pointer;
}

.ButtonContainer{
  display: flex;
  gap: 20px;
}

input{
  font-size: 15px;
  border: none;
  margin: 10px;
  outline: none;
  color: #0093FF;
  background-color: #008BFF;
  font-family: "Pixelify Sans", sans-serif;
  border-radius: 5px;
}
.helpform{
  text-align: center;
  display: flex;
  animation-duration: 2s;
  animation-name: roundedege;
}

@keyframes roundedege{
  0%{
    border-radius: 0px;
  }
  100%{
    border-radius: 10px;
  }
}