body{
  background-color: #52DFFF;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}


h1{
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 50px;
}


hr{
  background-color: #00D7FF;
  height: 2px;
}

div{
  border-width: 12em;
  background-color: #00B9FF;
  border-radius: 10px;
}


.devartists{
  width: 200px;
  
}

p{
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}

button{
  font-size: 12px;
  font-family: "Pixelify Sans", sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background: #4F8FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button:not(.pill--selected):hover {
  background: #cccccc;
}

button--selected {
  background: #009578;
  color: #ffffff;
}

button:focus {
  font-size: 12px;
  font-family: "Pixelify Sans", sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background: #104BB2;
  cursor: pointer;
}
